@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&display=swap');

:root {
    --white: #fff;
    --black: #000000;
    --accent: #1883a3;
    --main: #04566E;
    --dpurple: #f4f7f9;
    --dark: #505050bb;
    --grey: #022831;
    --hold: #B4D330;
    text-decoration: none;
}

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.custom-icon {
    padding-left: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

img h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    margin: 0;
}

h3 {
    font-size: 24px;
}

nav .brand-logo {
    font-size: 26px;
}

.lazyLoadContainer {
    margin: 0;
}

.hidden {
    display: none !important;
}

#loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventureCol {
    background-color: var(--dpurple);
    height: 1360px;
    margin: 0;
    padding: 0 !important;
    border-right: 1px solid var(--dark);
}

.dashboardCol {
    padding: 0 !important;
}

.dashTitleContainers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--dpurple);
    border-bottom: 1px solid var(--dark);
}

.dashboardTitle {
    font-size: 20px;
    padding: 0;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.dashboardContents {
    padding: 10px;
}


.hero-container {
    width: 100%;
    margin: 0 auto;
}

nav ul a:hover {
    background-color: var(--accent);
}

.slider .indicators .indicator-item.active {
    background-color: var(--accent);
    color: var(--dark);
}

.centerSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slideBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.slideBackground p:before,
.slideBackground p:after {
    content: "\201C";
    font-size: 3rem;
    position: absolute;
    color: white;
    opacity: 0.5;
}

.slideBackground p:before {
    top: 0;
    left: -35px;
}

.slideBackground p:after {
    bottom: 0;
    right: -35px;
    transform: scaleX(-1);
    /* flips quotation mark */
}

.denise-text {
    text-align: right;
}

.denise-name {
    margin-top: 30px;
}

.rightSlide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.rightSlide .slideBackground {
    right: 0;
    left: auto;
}

.caption h2 {
    padding-bottom: 20px;
}


.get-started {
    background-color: var(--main);
    border: 1px solid var(--white);
}

.get-started a,
.btn-large:hover {
    background-color: var(--accent);
}

.top-picks {
    margin: 50px;
    height: auto;
}

.card,
.card .card-image img {
    border-top-right-radius: 70px;
}

.card .card-image {
    position: relative;
    padding: 8px;
}

.card p {
    padding: 0 24px 24px 24px;
}

#card-action {
    text-align: center;
    padding: 16px 24px;
    background-color: var(--main);
    text-transform: uppercase;
    color: var(--white);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#card-action:hover {
    background-color: var(--accent);
}

#card-action a {
    color: var(--white);
}

#card-action a:hover {
    color: var(--white);
}

.card-title {
    bottom: 0;
    right: 0;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-panel {
    margin: 0;

}

.keySection {
    margin: 0;
}

.keyTitle {
    font-size: 40px;
}

.keySubtitle {
    margin: 0;
}

.keyFeatures {
    position: relative;
    background-color: #00000011;
    height: 650px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.keyFeaturesIcons {
    margin-top: 70px;
}

.travelTrackerKeyFeatures {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--black);
}

.howItWorks {
    margin: 50px 0;
}

.parallax-container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    height: 650px;
    position: relative;
    z-index: 99;
}

.egyptPhoto {
    margin: 0;
}

.egyptPhotoTitle {
    color: var(--white);
    font-size: 50px;
}

.wordLoopDecoration {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.word-loop-container {
    padding-top: 20px;
    height: auto;
    margin: 0;
    width: 100%;
    font-size: 100px;
    color: #00000030;
}

.word-loop {
    display: inline-block;
    white-space: nowrap;
    animation: wordLoop 40s linear infinite;
    font-size: 200px;
    color: #ffffff64;
}

@keyframes wordLoop {
    100% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.parent-class {
    display: flex;
}

div.input-field.col.s12 {
    padding: 0;
    margin: 0;
}

#list_area {
    max-height: 1300px;
    overflow-y: auto;
}

/* list area nav */
#list_area::-webkit-scrollbar {
    width: 10px;
}

#list_area::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#list_area::-webkit-scrollbar-thumb {
    background: var(--main);
}

ul#list_area.collection {
    padding: 0;
    margin: 0;
}

li.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-item {
    padding: 10px !important;
}

.collection-item.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.initial-height {
    height: 230px !important;
    border: 1px solid #ccc !important;
    padding: 10px !important;
}

.weatherTitle {
    margin-top: 10px;
    display: flex;
    align-items: left;
    justify-content: center;
    width: 100%;
}

.weather-data {
    font-size: small;
}

.weather-stats {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.weather-info {
    font-weight: bold;
    padding: 0 !important;
}

.align-items-stretch {
    padding: 0;
    margin: 0;
}

.checkboxes {
    display: flex;
    justify-content: left;
    align-items: center;
}


.btn,
.custom-button,
.searchBtn,
#save_button {
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.879);
    border: 1px solid var(--main);
    color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:hover,
.searchBtn:hover,
#save_button:hover,
.delete-button:hover {
    background-color: var(--main);
    color: var(--white);
}

.select-wrapper,
input.select-dropdown,
.dropdown-content li,
.dropdown-content li>span {
    background-color: rgba(255, 255, 255, 0.879);
    color: var(--main);
    margin: 0;
    font-size: small;
}

input.select-dropdown.dropdown-trigger,
.month-prev,
.month-next,
.datepicker-table,
.datepicker-footer {
    margin: 0;
}

.month-prev,
.month-next,
.datepicker-table,
.datepicker-footer,
.datepicker-container {
    background-color: rgba(255, 255, 255, 0.879);

}

.search-container,
input.select-dropdown.dropdown-trigger {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-left: 10px;
    font-size: small;
}

.datepicker-cancel,
.datepicker-done {
    color: var(--main);
}

#search {
    margin: 0;
    padding-left: 10px;
    color: var(--main);
    border: 1px solid var(--main);
    background-color: rgba(255, 255, 255, 0.879);
}

.suggestions-container {
    margin: 0;
    visibility: visible;
    position: relative;
}

#suggestions {
    width: 75%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding-left: 2px;
    color: var(--main);
    background-color: rgba(255, 255, 255, 0.879);
}

#suggestions .suggestion {
    padding: 10px;
    cursor: pointer;
}

#suggestions .suggestion:hover,
#suggestions .suggestion:focus,
.dropdown-content li>span:hover,
.dropdown-content li>span:focus {
    background-color: var(--main);
    color: var(--white);
    outline: none;
}

.button-select-container {
    display: flex;
    align-items: center;
}

#search-button {
    margin-right: 10px;
}

#style-select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
}

/* Style for suggestion bar ends here */
.searchBtn:focus {
    color: var(--white);
    background-color: #04556ece;
}

.datepicker-date-display {
    background-color: var(--main);
}

.datepicker-table td.is-today {
    color: var(--main);
}

.datepicker-table td.is-selected {
    color: var(--white);
    background-color: var(--accent);
}


footer.page-footer {
    background-color: var(--main);
    margin: 0;
}

/* Map container */
#map {
    height: 400px;
    width: 100%;
}

/* Map style select dropdown */
#style-select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
}

/* Suggestions container */
#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

#suggestions.visible {
    display: block;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f4f4f4;
}


.data {
    font-size: 12px;
}

.forecast {
    font-size: 12px;
}

.forecast th,
.forecast td {
    padding: 8px 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.forecast>tbody>tr>th:nth-of-type(1) {
    padding: 8px 10px;
}

.forecast tr {
    border: none;
}

.forecast>tbody>tr>td:nth-of-type(1) {
    font-size: 10px;
    padding: 8px 10px;
    text-transform: uppercase;
}

.forecast>tbody>tr>td:nth-of-type(1n+2),
.forecast>tbody>tr>th:nth-of-type(1n+2) {
    text-align: center;
}

.forecast>tbody>tr:last-child {
    font-size: 9px;
}

@media only screen and (max-width : 600px) {
    .slider .slides li .slideBackground {
        width: 100%;
    }

    .rightSlide .slideBackground {
        width: 100%;
    }

    .keyFeaturesIcons {
        background-color: #00000011;
        margin-top: 0;
        margin-bottom: 50px;
        padding: 20px;
    }

    .searchBtn span {
        display: inline-block;
        vertical-align: middle;
    }

    #style-select-container {
        display: none;
    }

    .adventureCol {
        height: 360px;
    }

    #list_area {
        height: 300px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }

    .card-panel.lighten-5.z-depth-1 {
        padding: 20px !important;
    }
}

@media only screen and (min-width: 992px) {
    .parallax-content {
        height: 650px;
    }
}

@media only screen and (max-width : 992px) {
    .rightSlide .slideBackground {
        width: 80%;
    }

    .slider .slides li .slideBackground {
        width: 80%;
    }

    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}