:root {
    --white: #fff;
    --black: #000000;
    --accent: #9ae312;
    --main: #392A27;
    --dpurple: #B7BCAE;
    --mauve: #B0A88E;
    --dark: #444343;
    --grey: #696965;
    text-decoration: none;
}

/* --white: #fff;
--black: #000000;
--accent: #f64c72;
--main: #2f2fa2;
--dpurple: #553d67;
--mauve: #99738E;
--dark: #242582; */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.custom-icon {
    padding-left: 30px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav {
    background-color: var(--main);
    color: var(--white);
}

img h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

.hero-container {
    width: 100%;
    margin: 0 auto;
}

.parallax-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.parallax-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    position: relative;
}

.parallax-content {
    color: var(--white);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyFeaturesContainer {
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyFeaturesTitle {
    padding: 20px;
    font-size: 50px;
    margin-bottom: 30px;
    background-color: #B0A88Ed6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.keyFeaturesWriteup {
    padding: 20px;
    background-color: #B0A88Ed6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 993px) {
    .parallax-content {
        height: 500px;
    }
}

.top-picks {
    margin: auto 0;
    height: auto;
}

footer.page-footer {
    background-color: var(--main);
}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: var(--white);
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: var(--accent);
}

.parallax-container {
    line-height: 0;
    height: auto;
    color: var(--black);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}